@import "./../config.scss";

.product-page__wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  .product-image {
    height: 560px;
    min-width: 560px;
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .product-page__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
    width: auto;
    .product-info {
      .product-name {
        font-size: 24px;
      }
      .product-price {
        font-size: $text-medium-size;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .product-description {
        font-size: $text-primary-size;
        margin-top: 20px;
        line-height: 22px;
      }
    }
    .product-page__admin-tools {
      text-align: end;
      .admin-edit-pr-btn,
      .admin-delete-pr-btn {
        color: $primary-color;
        height: 68px;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }
}
