@import "./../../config.scss";

.basket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  user-select: none;
  .basket__product-image {
    width: 100px;
    height: 100px;
    background: #c4c4c4;
  }
  .basket__product-name {
    margin-left: -10px;
    font-size: $text-primary-size;
    font-weight: bold;
    min-width: 180px;
  }
  .basket__product-count {
    display: flex;
    align-items: center;
    .basket__count {
      margin-left: 8px;
      margin-right: 8px;
      font-size: $text-primary-size;
      min-width: 40px;
      text-align: center;
    }
    .basket__minus-btn,
    .basket__plus-btn {
      height: 24px;
      width: 24px;
      color: black;
      cursor: pointer;
    }
    .svg-btn-desable {
      color: $text-light-color;
      cursor: auto;
      pointer-events: none;
    }
  }
  .basket__full-price {
    font-size: $text-primary-size;
    font-weight: bold;
    min-width: 60px;
    text-align: center;
  }
  .basket__delete-item {
    .basket__delete-btn {
      height: 32px;
      width: 32px;
      color: black;
      cursor: pointer;
    }
  }
}
