@import "./../../config.scss";

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .productImage {
    height: 360px;
    width: 360px;
    background-color: #c4c4c4;
  }

  .productName {
    margin-top: 40px;
    font-size: $text-medium-size;
  }

  .productShortDescription {
    margin-top: 8px;
    font-size: $text-primary-size;
  }

  .productPrice {
    margin-top: 12px;
    font-size: 18px;
  }
}
