@import "./../../config.scss";

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .product-image {
    height: 360px;
    width: 360px;
    background-color: #c4c4c4;
  }

  .product-name {
    margin-top: 40px;
    font-size: $text-medium-size;
  }

  .product-short-description {
    margin-top: 8px;
    font-size: $text-primary-size;
  }

  .product-price {
    margin-top: 12px;
    font-size: 18px;
  }
}
