$primary-color: #bf8dd6;

$font-family: "Roboto", sans-serif;
$text-primary-color: #000;
$text-light-color: #999;
$title-size: 26px;
$text-primary-size: 14px;

$btns-light-color: inherit;
$btns-light-border-color: white;
$btns-light-text-color: white;
$btns-dark-color: #000;
$btns-dark-border-color: #000;
$btns-dark-text-color: white;