@import "./config.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
  font-family: $font-family;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.big-title {
  font-size: $title-size;
  color: $primary-color;
  text-align: center;
  margin: 60px 0 20px 0;
}

.sub-title {
  font-size: $text-medium-size;
  text-align: center;
  margin: 20px 0 40px 0;
}

.empty-message{
  text-align: center;
  font-size: $text-medium-size;
  color: $text-light-color;
}